body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #020617;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

/* Sections */
section {
  padding: 60px;
  text-align: center;
}

/* Hero */
section h1 {
  font-size: 40px;
}

/* Cards */
.card {
  background: #1e293b;
  padding: 25px;
  margin: 20px auto;
  width: 60%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Footer */

footer {
  text-align: center;
  padding: 25px;
  background: #020617;
  font-size: 16px;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.card button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #2563eb;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.card button:hover {
  background-color: #1e40af;
}
